body {
    font-family: Ubuntu,"Open Sans",sans-serif ;
    margin: 0;
    padding: 0;
    background-color: rgb(242,242,242);
}
@media screen and (min-width: 768px) {
    #sec1 {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sec2 {
        margin: 0;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#sec1 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#sec1 #container {
    width: 70%;
    max-height: 90%;
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec1 #header{
    width: 100%;
    margin: 10px 0 15px;
    font-weight: 600;
    color: rgb(48, 48, 48);
}
#sec1 #intro {
    width: 100%;
}
#sec1 #intro h1{
    font-size: 1.5cm;
    margin: 0 0 10px;
    font-weight: 650;
    color: rgb(23, 61, 195);
}
#sec1 #about {
    width: 80%;
    font-size: small;
    font-weight: 500;
    color: rgb(48, 48, 48);
}

#sec2 {
    margin: 0;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 #container {
    width: 70%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: rgb(231, 133, 133); */
}
#sec2 #main_card {
    width: 45%;
    height: auto;
    background-color: rgb(23, 61, 195);
    color: white;
    font-weight: 500;
    margin: 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 #main_container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#sec2 #profile_picture {
    height: 200px;
}
#sec2 #profile_picture img {
    margin:0;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}
#sec2 #intro_message {
    font-size: xx-large;
    text-align: center;
    margin: 0
}
#sec2 #button {
    margin: 0;
    height: auto;
}
#sec2 #cards {
    width: 52%;
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#sec2 #card {
    width: 47%;
    height: 48%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2 #main_box {
    width: 80%;
    height: 80%;
}
#card_icon {
    width: 80%;
    height: auto;
}
#card_icon img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}
#card_title{
    font-size: large;
    font-weight: 500;
    margin: 10px 0;
}
#card_link {
    font-size: small;
    font-weight: 500;
    font-stretch: expanded;
}